<head>
  <meta
    name="description"
    content="A timetable to search course names and their codes"
  />
  <meta name="author" content="Mitchell Zehr" />
  <title>Timetable - mzehr4</title>
</head>
<body>
  <h1>{{title}}</h1>
  <app-display-all-subjects></app-display-all-subjects>
  <app-course-search></app-course-search>
  <app-search-time-table></app-search-time-table>
  <app-create-timetable></app-create-timetable>
  <div id="viewAndEdit">
    <h1>View and Edit Existing Schedules</h1>
    <button mat-raised-button (click)="viewSchedules()">List all Schedules</button> 
    <button mat-raised-button (click)="deleteAllSchedules()">Delete all Schedules</button>
    <p>
      <mat-form-field appearance="standard">
      <mat-label>Schedule to Delete</mat-label>
      <input matInput id="scheduleToDelete" placeholder="Schedule Name">
      </mat-form-field>
      <!-- <button mat-raised-button (click)="getSubjects()">Delete Schedule</button> -->
      <mat-form-field appearance="standard">
        <mat-label>Show Schedule</mat-label>
        <input matInput id="showScheduleCourses" placeholder="Schedule Name">
        </mat-form-field>
        <button mat-raised-button (click)="showSchedule()">Show Schedule</button>
    </p>
    <ul id="viewSchedules"></ul>
    <ul id="showSchedule"></ul>
  </div>
</body>

